<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8-">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sitio Web de BienCi</title>
    <!--Enlace a la hoja de estilo-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/boxicons.min.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <header>
        <a href="#" class="logo">WebSite <span>BienCi</span></a>
        <ul class="navbar">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#info">Consejos</a></li>
            <li><a href="#Conten">Contacto</a></li>
            <li><a href="#Test">Testimonios</a></li>
            <li><a href="#Acerca">Acerca de</a></li>
        </ul>
        <div class="h-derecha">
            <a href="#"> Siguenos</a>          
            <a href="https://www.facebook.com/ortzci.223?mibextid=ZbWKwL"> <i class= 'bx bxl-facebook-square'></i></a>
            <a href="https://www.instagram.com/ortz.bren/profilecard/?igsh=MWJ6c25zaW1oOWF5eg=="> <i class= 'bx bxl-instagram-alt'></i></a>
            <a href="https://api.whatsapp.com/send?phone=9241291327&text=Hola%2C%20me%20proporciona%20más%20información" target="_blank"> <i class='bx bxl-whatsapp'></i></a>
            <a href="mailto:ciclaliortiz02@gmail.com"> <i class='bx bxl-gmail'></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
            </header>

    <section class="home" id="home">
        <div class="home-text">
            <h1> Salud BienCi</h1>
            <h5 id="typed">Acercate con nosotros</h5>
            <p>Uno de los secretos para mantener la salud mental consiste en <br>disfrutar de los pequeños placeres de la vida como son: <br> comer saludablemente, dormir y leer.</p>
            <a href="#" id ="btn-inf" class="btn">Más Información</a>
        </div>
    </section>

    <section class="columnas" id="info">
        <div data-aos="flip-right" class="col-content">
            <div class="row">
                <div class="row-img">
                    <img src="{% static 'clientes/IMG/Imagen2.jpg' %}" alt="Imagen de salud">
                </div>
                <h4>Ejercitate</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="{% static 'clientes/IMG/Imagen3.jpg' %}" alt="Imagen de salud">
                </div>
                <h4>Descansa</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="{% static 'clientes/IMG/MENTAL.jpg' %}" alt="Imagen de salud">
                </div>
                <h4>Consejos</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="{% static 'clientes/IMG/Imagen5.jpg' %}" alt="Imagen de salud">
                </div>
                <h4>Busca Ayuda</h4>
            </div>
            <div class="row">
                <div class="row-img">
                    <img src="{% static 'clientes/IMG/Imagen6.jpg' %}" alt="Imagen de salud">
                </div>
                <h4>Decidete</h4>
            </div>
        </div>
    </section>

    <section class="Columna2">
        <div class="col2-content">
            <div class="row2">
                <div data-aos="zoom-in-down" class="row2-img">
                    <img src="{% static 'clientes/IMG/amor.png' %}" alt="Imagen de salud">
                </div>    
            </div>
            <div class="row2">
                <h5>Consejos</h5>
                <h1>° Llevar una vida saludable</h1>
                <h1>° Conecta con tus sentidos</h1>
                <h1>° Centrate en el problema</h1>
                <h3>Encontremos una solucion juntos</h3>
                <p>Recuerda que si sientes que no puedes manejar tú solo/sola<br> 
                    una emoción o ha permanecido mucho tiempo contigo,<br>  
                    debes pedir ayuda de un adulto en quien confíes pues<br>  
                    no siempre debes poder con todo; y en cambio cuando <br> 
                    encontramos apoyo y ayuda en alguien más, estamos<br>  
                    permitiéndonos encontrar soluciones,<br>  
                    y disminuir nuestra vulnerabilidad.</p>
                <a href="#" id ="btn2-cita" class="btn2">CITA</a>
            </div>
        </div>
    </section>

    <section class="Columnas4" id="Test">
        <h1>Testimonios</h1>
        <div  class="col4-content">
            
            <div class="row4">
                <h3>Anna Ruiz Ayala</h3>
                <h4>«Escribir en mi diario fue mi refugio»</h4>
            </div>
            <div class="row4">
                <h3>Sandra Jiménez Bauló</h3>
                <h4>«Los pensamientos intrusivos entraban en mi mente como misiles»</h4>
            </div>
            <div class="row4">
                <h3>Vanessa Anaya Lozano</h3>
                <h4>«Cuando empecé a recuperar peso, los miedos volvieron»</h4>
            </div>
            <div class="row4">
                <h3>Juana Olivares Perez</h3>
                <h4>«Tantas personas viviendo en un mismo bloque y tan solas que nos sentimos»</h4>
            </div>
            <div class="row4">
                <h3>María Teresa De Lara López</h3>
                <h4>«De la búsqueda de respuestas, a la conexión conmigo misma»</h4>
            </div>
            <div class="row4">
                <h3>Brenda Ciclali Ortiz Fonseca</h3>
                <h4>«No le des el poder a tu mente de destruite, tu puedes salir adelante»</h4>
            </div>
        </div>
    </section>

    <section class="Columna3" id="Acerca">
        <div class="col3-content">
            <div class="row3">
                <h2>Nuestro Compromiso con tu Bienestar Mental</h2>
                <h3>Nuestra prioridad es brindar recursos y apoyo <br>para que las personas puedan construir una <br>vida más plena y saludable.</h3>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <div class="footer-section ubicacion">
                <h1>Ubicación</h1>
                <ul>
                    <li>Dirección: Barrio El Rincon Felipe Carrrillo Puerto</li>
                    <li>Texistepec, Veracruz</li>
                    <li>Teléfono: 9241291327</li>
                </ul>
            </div>
            <div class="footer-section social">
                <h1>Contacto</h1>
                <ul class="social-links">
                    <li><a href="#" target="_blank"><i class="bx bxl-facebook-square"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bx bxl-instagram-alt"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bx bxl-whatsapp"></i></a></li>
                    <li><a href="#" target="_blank"><i class="bx bxl-gmail"></i></a></li>
                </ul>
            </div>
            <div class="footer-section company">
                <div class="footer-img" data-aos="zoom-in">
                    <img src="{% static 'clientes/IMG/fotter.jpg' %}" alt="Imagen de footer">
                </div>
                <p>© 2024 Portal de salud y bienestar | @City_Tex</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="{% static 'clientes/js/script.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</html>