* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --text-color: #000000; /* Color del texto blanco */
    --bg-color: #1e88e5; /* Azul gama azul */
    --main-color: #1565c0; /* Azul mar */
    --tex-principal: #42a5f5; /* Azul atardecer */
    --bod-principal: #0b0b0b;
    --bod-principal2: #1908da;
    --bg-colores: #ffffff;

    --a-font: 1rem;
    --h1-font: 5rem;
    --h2-font: 3rem;
    --h21-font: 1.5rem;
    --h3-font: 3rem;
    --h5-font: 3rem;
    --p--font: 3rem;
}

@font-face {
    font-family: 'Teko';
    src: url('../clientes/fonts/bungeeshade_regular.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Teko1';
    src: url('../clientes/fonts/merriweatherlightItalic.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Teko2';
    src: url('../clientes/fonts/jacquesfrancoisshadow_regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Teko3';
    src: url('../clientes/fonts/rampartone_regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Narrow';
    src: url('../clientes/fonts/ptsansnarrow_bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Narrow2';
    src: url('../clientes/fonts/tekomedium.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gowun';
    src: url('../clientes/fonts/gowunbatang_regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Gowun2';
    src: url('../clientes/fonts/gowunbatang_bold.ttf');
    font-style: normal;
    font-weight: bold;
}

body{
    color: var(--text-color);
    /*background: var(--bg-color);*/
    background: linear-gradient(to right,
    #c5d7e7,
    #1565c0,
    #c5d7e7); /* Degradado de sepia a fondo */
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*backdrop-filter: blur(35px);*/
    transition: .50s ease all;

}

header.sticky {
    padding: 8px 15%;
    background: transparent;
    backdrop-filter: blur(35px);
}


.logo{
    font-size: 35px;
    color: var(--bod-principal);

    font-family: 'Teko3';
    font-weight: 250;
}

span{
    color: var(--bod-principal2);
    font-family: 'Teko3';
    font-weight: 300;
}

.navbar{
    display: flex;
}

.navbar a {
    color: var(--text-color);
    padding: 20px;
    margin:  15px 20px;
    font-size: var(--a-font);
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.h-derecha{
    display: flex;
    align-items: center;
}
.h-derecha a{
    vertical-align: middle;
    font-size: 30px;
    color: var(--text-color);
    margin-left: 10px;
    margin-right: 25;
    transition: 0.50s ease all;
}

.h-derecha a:hover{
    color: var(--main-color);
    transform: translateY(-4px);
}

.h-derecha a:first-child {
font-size: var(--a-font);
margin-right: 20px;
}
#menu-icon{
    color: var(--main-color);
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 1005;
}

section{
    padding: 70px 15% 60px;
    /*Padding 70px aplica a  los 4 lados*/

}

.home{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to left,
                                rgba(31, 233, 88, 0.2),
                                rgba(234, 82, 133, 0.3),
                                rgba(94, 190, 234, 0.4)
    );
   background: url(../clientes/IMG/fondo4.jpg);
    background: linear-gradient(to right,
    rgba(194, 223, 227, 0.196),
    rgba(124, 187, 239, 0.304),
    rgba(243, 187, 114, 0.171)
    ), url(../clientes/IMG/fondo4.jpg); 
    background-size: cover;
    background-position: bottom center;
    display: flex; 
    justify-content: flex-start; /*Allinea el eje  principal*/
    align-items: center; /*Allinea el eje transversal */
   /* align-items: right; /* Alinea a la derecha */
     
}


.home-text h1{
    font-family: 'Teko';
    font-weight: bold;
    font-size: var(--h1-font);
    line-height: 1.5;
    margin-bottom: 10px;
}

.home-text p{
    font-family: 'Teko1';
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: var(--p-font);
    color: #163dc0;
}

.home-text h5{
    font-family: 'Teko3';
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 20px;
    font-size: var(--h5-font);
    color: #2b17df;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.home-text a{
    font-family: 'Narrow2';
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 10px;
    font-size: var(--a-font);
    color: #2b17df;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #f304b3;
   color: #a8e720;
   font-size: 20px;
   font-weight: 600;
   border-radius: 30px;
   border: 2px solid transparent;
   transition: 0.50s ease all;
}

.btn:hover {
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    transform: translateX(10px);
}

.col-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    align-items: center; /*Alinea la imagen al centro */
    text-align: center; 
}

.row-img {
    overflow: hidden;
    width: 200px; /*Ancho  de la caja */ 
    height: 200px;  /*dimensiones  de la caja lo cual solo se vere la esquina de nuestra imagen*/ 
    margin: 0 auto; 
    border-radius: 100px; /*Se empezara hacer el radio de bordes el cual se hara  en las 4 esquinas el % hace circulo completo, el px solo lo hace en las esquinas */
    cursor: pointer;
}

.row-img img {
    filter: invert(250%);
    width: 100%; /*Hara que la imagen se adapte al cuadro de dimensiones que le proporcionamos  */
    transition: 0.70s ease transform;
}

.row-img img:hover {
    transform: scale(1.2);

}

.col-content h4{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Narrow';
    font-weight: 1000;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: var(--h21-font);
    color: #ffffff;
}

.col-content h4:hover {
    color: var(--main-color)
}

.col2-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap:5rem;
    align-items: center;
    text-align: center; 
      
}

.row2-img {
    overflow: hidden;
    margin: 0 auto; 
    border-radius: 30px; 
    cursor: pointer;

}

.row2-img img {
    width: 100%; 
}

.col2-content h1{
    font-family: 'Gowun';
    font-weight: 1000;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: var(--h21-font);
    color: #ffffff;
}

.col2-content h3{
    font-family: 'Narrow';
    font-weight: 1000;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: var(--h3-font);
    color: #ffffff;
}
.col2-content h5{
    font-family: 'Teko3';
    font-weight: 250;
    line-height: 10px;
    margin-bottom: 20px;
    font-size: var(--h5-font);
    color: #e8dd0f;
    text-transform: uppercase;
    letter-spacing: 1px;   
}

.col2-content p{
    font-family: 'Gowun';
    font-weight: 1000;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: var(--h21-font);
    color: #ffffff;
}

.btn2 {
    display: inline-block;
    padding: 15px 40px;
    background-color: #f5a14c;
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid transparent;

}

.btn2:hover {
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
@media (max-width:960px){
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: var(--bg-colores);
        width: 100%;
        height: 100vh;
        top:0;
        bottom: 0;
        right: 0;
        left: 100%;
        padding: 40px 60px;
        transition: .50s ease all;
    }
    .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0px 0px 40px 0px;
    }

    .navbar.open {
        left: 0;
    }

    .row2{
        --p--font: 15px;
        --h1-font: 1rem;
        --h3-font: 1rem;
        --h5-font: 1.5rem;
    }
    .home{
        --p--font: 15px;
        --h1-font: 3rem;
        --h5-font: 1.5rem;
    }

    section{
        padding: 45px 5%;
    }
}
/*ESTO SERA EL FOOTER */
.footer {
    background: bisque; 
    padding: 40px;   /* Aumentado el padding */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d0b7ee9a; /* Color de fondo */
    margin-bottom: 10px; /* Espacio debajo de la sección */
}
.footer-section {
    text-align: center; 
    flex: 5; 
}
  
.footer-img {
    margin-bottom: 10px; 
    display: flex; 
    margin-left: auto; 
    margin-right: auto;
}
  
.company {
    text-align: center; 
    display: flex;        
    flex-direction: column; 
    align-items: center;
}
  
.company p {
    text-align: center;
    align-items: center; 
}
  
.footer-section h5 { 
    color: #333; /* Color de texto oscuro */
    margin-bottom: 10px; 
}
  
.footer-section ul {
    list-style: none; 
    padding: 0; 
}
  
.footer-section li {
    margin-bottom: 5px; 
}
  
.social-links {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}
  
.social-links a {
    color: #b8ee30; 
    text-decoration: none; 
}
  
.social-links a i {
    font-size: 40px;
}

.Columnas4 {
    background-color: #83efc6cf; /* Color de fondo */
    padding: 50px 20px; /* Espacio alrededor del contenido */
    margin-bottom: 50px; /* Espacio debajo de la sección */
}

.Columnas4 h1{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Gowun2';
    font-weight: 1000;
    line-height: 30px;
    margin-bottom: 50px;
    font-size: var(--h1-font);
    color: #050101;
    text-align: center; 
}
.col4-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    align-items: center; /*Alinea la imagen al centro */
    text-align: center; 
}

.row4-img {
    overflow: hidden;
    width: 200px; /*Ancho  de la caja */ 
    height: 200px;  /*dimensiones  de la caja lo cual solo se vere la esquina de nuestra imagen*/ 
    margin: 0 auto; 
    border-radius: 100px; /*Se empezara hacer el radio de bordes el cual se hara  en las 4 esquinas el % hace circulo completo, el px solo lo hace en las esquinas */
    cursor: pointer;
}

.row4-img img {
    filter: invert(250%);
    width: 100%; /*Hara que la imagen se adapte al cuadro de dimensiones que le proporcionamos  */
    transition: 0.70s ease transform;
}

.row4-img img:hover {
    transform: scale(1.2);

}

.col4-content h4{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Narrow';
    font-weight: 1000;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: var(--h21-font);
    color: #ffffff;
}

.col4-content h4:hover {
    color: var(--main-color)
}

/* Estilos para la sección "Acerca de" */
.Columna3 {
    background-color: #f0f0f0; /* Color de fondo */
    padding: 50px 20px; /* Espacio alrededor del contenido */
    margin-bottom: 50px; /* Espacio debajo de la sección */
  }
  
  .col3-content {
    width: 80%; /* Ancho del contenido */
    margin: 0 auto; /* Centra el contenido */
  }
  
  .row3 {
    text-align: center;
  }
  
  .row3 h2 {
    font-family: 'Gowun';
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333; /* Color del título */
  }
  
  .row3 h3 {
    font-family: 'Narrow';
    font-size: 1.5rem;
    color: #555; /* Color del texto */
    line-height: 1.6; /* Espacio entre líneas */
  }
  
  /* Estilos adicionales para la sección "Acerca de" */
  .Columna3 h2 {
    font-size: 3rem; /* Tamaño de fuente del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: #333; /* Color del título */
  }
  
  .Columna3 h3 {
    font-size: 1.5rem; /* Tamaño de fuente del texto */
    color: #555; /* Color del texto */
    line-height: 1.6; /* Espacio entre líneas */
  }
